<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gun0912.tedbottompicker">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
    <provider
            android:name="com.commonsware.cwac.provider.StreamProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="com.commonsware.cwac.provider.STREAM_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".CameraPermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InvisibleActivity"
            />

     </application>


</manifest>
